.AllBg {
  background-image: url(../assets/images/background.jpg);
  width: 100%;
  .AllPages {
    .background {
      h2 {
        font-family: Montserrat;
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #87ceeb;
        padding-top: 69px;
      }

      .text {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 21.98px;
        letter-spacing: 0.10000000149011612px;
        text-align: center;
        color: #a9a9a9;
        padding-bottom: 69px;
      }
      .crypto-list {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        .crypto-item {
          text-align: center;
          color: white;

          img {
            width: 50px;
            height: 50px;
          }
          .symbol {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.75px;
            text-align: left;
            color: #ffffff;
            padding-top: 10px;
            span {
              font-family: Roboto;
              font-size: 15.75px;
              font-weight: 500;
              line-height: 18.46px;
              text-align: left;
              color: #0ecb81;
              padding-left: 5px;
            }
          }
          .price {
            font-family: Roboto;
            font-size: 21.83px;
            font-weight: 500;
            line-height: 25.58px;
            text-align: left;
            color: #ffffff;
            padding-bottom: 38px;
          }
        }
      }
    }
  }
}
